<style>







/* 2. تنسيق شبكة الميزات (4 بطاقات) */











@media (max-width: 768px) {
    
    .features-hero {
        flex: auto;
        padding: 30px 20px;
    }
    
    .features-grid-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .features-grid-container {
        grid-template-columns: 1fr;
    }
}
</style>


<section class="treat-features-section">
    <div class="features-hero" style="--img:url('{{settings.image}}')">
        <div class="features-text-content">
            <img src="{{settings.logo}}" class="treat-logo-hero" alt="Treat Logo" loading="lazy"/>
            <h2 class="section-title-light">{{settings.title}}</h2>
        </div>
    </div>
    
    <div class="features-grid-container">
        {% for key, feature in settings.store_features %}
              <div class="feature-card">
                <div class="icon-wrapper">
                  <img 
                    class="features-section-img feature-icon" 
                    src="{{ imageUrl(feature.image) }}" 
                    loading="lazy" 
                    alt="{{ feature.description }}" 
                  />
                </div>
                <p class="feature-description">{{ feature.description }}</p>
              </div> 
        {% endfor %}
    </div>
</section>


{% schema %}
{
  "name": {
    "ar": "المميزات",
    "en": "features"
  },
  "icon": "fal fa-sparkles",
  "display": true,
  "settings": {
    "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "text"
          }
        },
        "logo": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم 200 * 120 ",
            "en": "Upload an image with a size of 120 * 200"
          }
        },
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم 881 * 1780 ",
            "en": "Upload an image with a size of 1780 * 881"
          }
        },
    "store_features": {
      "type": "list",
      "noLabel": true,
      "maxItems": 4,
      "info": {
        "ar": "",
        "en": "This is an info text sample here"
      },
      "settings_label":{
        "ar": "الصورة",
        "en": "Picture"
      },
      "settings": {
        "description": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "text"
          }
        },
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم 80 * 80 ",
            "en": "Upload an image with a size of 80 * 80"
          }
        }
      }
    }
  }
}
{% endschema %}
