<style>


.about-section::before {
    background-image: url({{settings.image}});
}






</style>
{# <section class="founder-message">
  <div class="founder-message-box"  style="    background: url({{settings.image}}) lightgray 0px 0px / 100% 132.353% no-repeat;">
    <div class="founder-message-inner">
    <h2 class="title">{{settings.title}}</h2>
    <p class="quote">{{settings.sub_title}}
    </p>
    <p class="founder-name">{{settings.founder}}</p>
  </div>
  </div>
</section> #}

<section class="about-section">
    <div class="content-container">
        <h2 class="title">{{settings.title}}</h2>
        
        <p class="quote-text">
            {{settings.sub_title}}
        </p>
        <p class="founder-name">
            {{settings.founder}}
        </p>
    </div>
    
    </section>

{% schema %}
{
  "name": {
    "ar": " رسالة المؤسس",
    "en": "Founder Message"
  },
  "icon": "fa fa-text",
  "display": true,
  "settings": {
    "image": {
          "type": "image",
            "label": {
              "ar": "صورة الخلفية",
              "en": "background image"
          },
          "info": {
            "ar": "ارفع صورة بحجم 2000 * 2000",
            "en": "Upload an image with size 2000 * 2000"
          }
          
        },
     "title": {
      "type": "text",
      "label": {
        "ar": "عنوان الرسالة ",
        "en": "Message Title"
      }
    },
    "sub_title": {
      "type": "text",
      "label": {
        "ar": "محتوى الرساله",
        "en": "Message Content"
      }
    },
    "founder": {
      "type": "text",
      "label": {
        "ar": "اسم المؤسس",
        "en": "Founder Name"
      }
    }
  }
}
{% endschema %}
