<style>
    .hero-sec {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.rtl .swap{

}
.hero-img {
  width: 100%;
  height: auto;
  display: block;
}
    /*****************/
.hero-content {
    position: absolute;
    bottom: 120px;
    left: 100px;
    color: #090909;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: fit-content;
    align-self: stretch;
    max-width: fit-content;
    width: max-content;
}   
.rtl .swap .hero-content{
    right: 100px;
}


@media (max-width: 1201px) {
    .hero-content{
        left: 80px;
        bottom: 100px;
        gap: 20px;
    }
    .rtl .swap .hero-content{
        right: 80px;
    }

}
@media (max-width: 993px) {
    .hero-content{
        left: 60px;
        bottom: 80px;
        gap: 20px;
    }
    .rtl .swap .hero-content{
        right: 60px;
    }  
}
@media (max-width: 769px) {
    .hero-content{
        left: 40px;
        bottom: 60px;
        
    }
    .rtl .swap .hero-content{
        right: 40px;
    }  
}
@media (max-width: 577px) {
    .hero-content{
        left: 20px;
        bottom: 40px;
       
    }
    .rtl .swap .hero-content{
        right: 20px;
    }     
}
@media (max-width: 450px) {
    .hero-content{
            left: 16px;
            bottom: 20px;
    }   
    .rtl .swap .hero-content{
        right: 16px;
    }  
}
    /*****************/
.hero-content h2 {
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;

}
@media (max-width: 1201) {
    .hero-content h2 {
        font-size: 30px;
    } 
}
@media (max-width: 993px) {
    .hero-content h2 {
        font-size: 26px;
    } 
}
@media (max-width: 769px) {
    .hero-content h2 {
        font-size: 20px;
    } 
}
@media (max-width: 577px) {
    .hero-content h2 {
        font-size: 16px;
    } 
}  



   .shop-button {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green-color);
    text-decoration: none;
    color: #090909;
    background: white;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 2px;
    width: auto; /* تغيير من width ثابت لـ auto */
    cursor: pointer;
    transition: padding 0.4s ease, background-color 0.4s ease;
}

.button-text {
    white-space: nowrap;
}

.button-icon {
    opacity: 0;
    width: 0; /* إخفاء العرض تماماً */
    margin-left: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, width 0.4s ease, margin-left 0.4s ease;
}

.shop-button:hover {
    background-color: var(--green-color);
    padding: 10px 20px; /* الحفاظ على padding متناسق */
}

.shop-button:hover .button-text {
    color: #ffffff;
}

.shop-button:hover .button-icon {
    opacity: 1;
    width: 20px; /* عرض الأيقونة عند hover */
    margin-left: 10px;
    color: #ffffff;
}
@media (max-width: 993px) {
    .shop-button{ 
        font-size: 18px;
    }   
} 
@media (max-width: 769px) {
    .shop-button{
        padding: 6px 12px;
        font-size: 14px;
    }   
}
@media (max-width: 577px) {
    .shop-button{
        padding: 4px 10px;
    }   
}
</style>

<section section-id="{{ sectionId }}"
         data-lg-scroll-offset="130"
         data-md-scroll-offset="130"
         data-sm-scroll-offset="94"
         class="hero-sec  {% if settings.position %} swap {% endif %}">
          <div class="slider-hero">
            {% for slide in settings.sliders %}
              <div class="slider-hero-inner">
                    {% if slide.image %}
                      <picture>
                        {% if slide.image_mobile is not empty %}
                        <source media="(max-width: 767px)" srcset="{{ slide.image_mobile }}">
                        {% endif %}
                        <source media="(min-width: 768px)" srcset="{{ slide.image }}">
                        <img loading="lazy" width="1600" height="700" class="lazy-img"  src="{{ slide.image }}" alt="banner-desktop">
                      </picture>
                    {% endif %} 
                    
                    
                    <div class="hero-content">
                      <a href="{{ slide.url }}" class="shop-button"><span class="button-text">{{ slide.button_text }}</span> </span></a>
                    </div>
              </div>
            {% endfor %}  
          </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function(){
        var arrowNextClass = (window.appDirection === 'ltr') ? 'bi bi-chevron-right': 'bi bi-chevron-left';
        var arrowPrevClass = (window.appDirection === 'ltr') ? 'bi bi-chevron-left' : 'bi bi-chevron-right';
        
            $('.slider-hero').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true,
                autoplay: true,
                speed:10000,
                arrows: false,
                dots: true,
                rtl: !(window.appDirection === 'ltr'),
                nextArrow:'<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><i class="'+arrowNextClass+'"></i></button>',
                prevArrow:'<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><i class="'+arrowPrevClass+'"></i></button>'
                        
            });
        
    });
    
    
    
    </script>


{% schema %}
{
  "name": {
    "ar": "السيكشن الرئيسي",
    "en": "hero section"
  },
  "icon": "fal fa-images",
  "display": true,
  "settings": {
    "sliders": {
      "type": "list",
      "maxItems": 20,
      "settings_label": {
        "ar": "اسلادير",
        "en": "Slifer"
      },
      "settings": {
        "image": {
          "type": "image",
          "label": {
            "ar": "صورة الويب",
            "en": "Web Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم 1626 * 825 ",
            "en": "Upload an image with a size of 1626 * 825"
          }
        },
        "image_mobile": {
          "type": "image",
          "label": {
            "ar": "صورة الجوال",
            "en": "Mobile Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم 800 * 1150 ",
            "en": "Upload an image with a size of 800 * 1150"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "رابط الزرار",
            "en": "Link button"
          }
        },
        "button_text": {
          "type": "text",
          "label": {
            "ar": "نص الزرار",
            "en": "text button"
          }
        }
      },
        "position": {
          "type": "checkbox",
          "label": {
            "ar": "",
            "en": ""
          },
          "noLabel": true,
          "option": {
            "ar": " عرض الزرار على اليمين",
            "en": "Display Buttom in right"
          }
        }
    }
  }
}
{% endschema %}
