




<section class="promotional-section">
    <div class="column left-column">
        <img src="{{settings.image1}}" alt="Product Left" class="product-image">
    </div>

    <div class="column center-column">
        <div class="center-image-top">
            <img src="{{settings.image3}}" alt="Cosmetics Products Top" class="banner-image">
        </div>
        
        <div class="center-content-text">
            <h2 class="main-promo-title">{{settings.title1}} <br> <span class="sale-word">{{settings.title2}}</span></h2>
            <p class="new-collection-text">{{settings.title}}</p>
            <a href="{{settings.url}}" class="promo-cta-button">{{settings.button_text}}</a>
        </div>

        <div class="center-image-bottom">
            <img src="{{settings.image4}}" alt="Cosmetics Products Bottom" class="banner-image">
        </div>
    </div>

    <div class="column right-column">
        <img src="{{settings.image2}}" alt="Product Right" class="product-image">
    </div>
</section>


{% schema %}
{
  "name": {
    "ar": "السيكشن الترويجى",
    "en": "promotional section"
  },
  "icon": "fal fa-images",
  "display": true,
  "settings": {
        "image1":  {
            "type": "image",
            "label": {
                    "ar": "الصورة",
                    "en": "Image"
            },
            "info": {
                    "ar": "ارفع صورة بحجم 756 * 400 ",
                    "en": "Upload an image with a size of 75 * 732"
            }
        },
        "image2":  {
            "type": "image",
            "label": {
                    "ar": "الصورة",
                    "en": "Image"
            },
            "info": {
                    "ar": "ارفع صورة بحجم 756 * 400 ",
                    "en": "Upload an image with a size of 756 * 4000"
            }
        },
        "image3":  {
            "type": "image",
            "label": {
                    "ar": "الصورة",
                    "en": "Image"
            },
            "info": {
                    "ar": "ارفع صورة بحجم 388 * 170 ",
                    "en": "Upload an image with a size of 388 * 732"
            }
        },
        "image4":  {
            "type": "image",
            "label": {
                    "ar": "الصورة",
                    "en": "Image"
            },
            "info": {
                    "ar": "ارفع صورة بحجم 388 * 170 ",
                    "en": "Upload an image with a size of 388 * 732"
            }
        },
        "url": {
            "type": "url",
            "label": {
                "ar": "رابط الزرار",
                "en": "Link button"
            }
        },
        "button_text": {
            "type": "text",
            "label": {
                "ar": "نص الزرار",
                "en": "text button"
            }
        },
        "title": {
            "type": "text",
            "label": {
                "ar": "النص ",
                "en": "text"
            }
        },
        "title1": {
            "type": "text",
            "label": {
                "ar": "الكلمة الاولى  ",
                "en": "first word"
            }
        }
        ,"title2": {
            "type": "text",
            "label": {
                "ar": "الكلمة الثانية ",
                "en": "second word"
            }
        }

  }
}
{% endschema %}
