{% extends "layout.twig" %}


{% block header %} {{ include('header.twig') }} {% endblock %}

{% block top_links %}
	  <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'toastr.min.css' }}"/>
    <link rel="stylesheet" href="{{ asset_url ~ 'profile-style.css?v=1.02' }}">
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'account-pages.css?v=1.59' }}" />
    <style>
      .account-content .btn-primary, .rtl .account-content .btn-primary {
          float: unset;
      }
    </style>
{% endblock %}


{% block main_content %}
    <div class="container-parent account-div-container">
        

        <div class="container-sec">
            <div class="d-flex account-div-container-inner">
                {% include 'profile-section.twig' with { 'section' : 'wishlist' } %}
                <div class="flex-grow-1 account-content-outer">
                    {% include 'profile-title.twig' with { 'title' : locals.profile.wishlist , 'section' : 'wishlist' } %}
                    <div class="account-content">
                        <div class="account-content-inner">
                            <div class="wishlist-page">
                                <div id="wishlist-list" class="row ">
                                {% for product in wishlist.data %}
                                    <div class="col-6 col-lg-4 py-3">
                                        {% include 'product-card.twig' with {'product' : product, 'index': key} %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="products-sliders ">
                                {% for product in wishlist.data %}
                                            <div class="prod-col prod-col-tb custom-category-product-item">
                                                {% include 'product-card.twig' with {'product' : product, 'index': key} %} 
                                            </div>
                                {% endfor %}
                            </div>
                            {% include 'pagination.twig' with { 'totalPages' : products.last_page , 'currentPage' : products.current_page } %}
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}

{% block footer_scripts %}
<script>

        document.addEventListener("DOMContentLoaded", function(){
            var arrowNextClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_right': 'icon-keyboard_arrow_left';
            var arrowPrevClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_left' : 'icon-keyboard_arrow_right';
                $('.wishlist-page .products-sliders').slick({
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    infinite: false,
                    autoplay: true,
                    arrows: false,
                    dots: false,
                    rtl: !(window.appDirection === 'ltr'),
                    nextArrow:'<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><span class="'+arrowNextClass+'"></span></button>',
                    prevArrow:'<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><span class="'+arrowPrevClass+'"></span></button>',
                    responsive: [
                        {
                            breakpoint: 9999,
                            settings: "unslick"
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }
                        },
                        {
                            breakpoint: 510,
                            settings: {
                                slidesToShow: 1.2,
                                slidesToScroll: 1 ,
                                centerMode: true,
                                centerPadding: '0px',
                                
                            }
                        }
                    ]
                });
            
        });
    </script>
	<script type="text/javascript" src="{{ asset_url ~ 'toastr.min.js' }}"></script>
{% endblock %}
