{% extends "layout.twig" %}


{% block header %} {{ include('header.twig') }} {% endblock %}

{% block top_links %}
    <link rel="stylesheet" href="{{ asset_url ~ 'profile-style.css?v=1.02' }}">
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'account-pages.css?v=1.59' }}" />
{% endblock %}

{% block main_content %}
    <div class="container-parent account-div-container">
        

        <div class="container-sec">
            <div class="d-flex account-div-container-inner">
                {% include 'profile-section.twig' with { 'section' : 'addresses' } %}
                <div class="flex-grow-1 account-content-outer">
                    {% include 'profile-title.twig' with { 'title' : locals.profile.addresses } %}
                    <div class="account-content">
                        <div class="account-content-inner">
                            
                            <div class="row address-container">
                                {% for address in addresses %}
                                    <div id="address-div-{{ address.id }}" class=" address-item">
                                            <div class="card-personal">
                                                <div class="card-body">
                                                    <a class="delete-button" onclick="deleteAddress({{ address.id }})">
                                                        <img class="delete-address-progress d-none" src="{{ asset_url }}spinner.gif" width="15" height="15"/>
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3548 1.25025C12.7253 1.25124 13.0486 1.25621 13.3268 1.28107C13.6959 1.31408 14.0399 1.38555 14.3742 1.55897C14.5063 1.6275 14.6326 1.70664 14.7519 1.79561C15.0537 2.02075 15.2681 2.29917 15.4588 2.61688C15.6385 2.91618 15.8209 3.29263 16.0359 3.7361L16.5274 4.75H21C21.4142 4.75 21.75 5.08579 21.75 5.5C21.75 5.91422 21.4142 6.25 21 6.25H20.2051L19.6265 15.6101C19.5493 16.858 19.4881 17.8482 19.3627 18.6392C19.234 19.4504 19.028 20.126 18.616 20.7169C18.239 21.2574 17.7537 21.7137 17.1909 22.0565C16.5758 22.4313 15.8888 22.5952 15.0712 22.6736C14.274 22.75 13.2818 22.75 12.0316 22.75H11.9539L11.5461 22.7499C10.4837 22.7491 9.61989 22.7415 8.91041 22.6735C8.09186 22.5949 7.40416 22.4307 6.78854 22.0553C6.22537 21.7118 5.73991 21.2547 5.36311 20.7133C4.95121 20.1214 4.74587 19.4449 4.61816 18.6325C4.49362 17.8404 4.43377 16.8488 4.35833 15.5991L3.79393 6.25H3C2.58579 6.25 2.25 5.91422 2.25 5.5C2.25 5.08579 2.58579 4.75 3 4.75H7.57232L7.99135 3.83074L8.11352 3.56332C8.27199 3.21814 8.41408 2.91891 8.55567 2.67073C8.74349 2.34153 8.95704 2.05248 9.26255 1.81811C9.38312 1.72561 9.51116 1.64326 9.64533 1.57192C9.98531 1.39114 10.3369 1.31672 10.7143 1.28236C11.07 1.25 11.4986 1.25 12.0039 1.25L12.3548 1.25025ZM18.7022 6.25H5.29666L5.85327 15.47C5.93157 16.767 5.9879 17.6868 6.09996 18.3996C6.21012 19.1003 6.36439 19.5261 6.59431 19.8565C6.85213 20.2269 7.18428 20.5396 7.56961 20.7747C7.91325 20.9842 8.34758 21.1126 9.05365 21.1803C9.77186 21.2492 10.6934 21.25 11.9928 21.25C13.2905 21.25 14.2107 21.2492 14.928 21.1805C15.6332 21.1128 16.0671 20.9848 16.4105 20.7755C16.7956 20.5409 17.1277 20.2288 17.3856 19.8589C17.6156 19.5291 17.7702 19.1039 17.8812 18.4042C17.9941 17.6925 18.0517 16.7741 18.1317 15.4788L18.7022 6.25ZM12.451 2.75071L11.6599 2.75051C11.315 2.75191 11.0601 2.75709 10.8503 2.77618C10.5849 2.80035 10.4499 2.84298 10.3496 2.89633C10.2886 2.92876 10.2304 2.96619 10.1756 3.00823C10.0854 3.07739 9.99063 3.18253 9.85853 3.41407C9.71937 3.65798 9.56941 3.98523 9.34281 4.48234L9.2208 4.75H14.8604L14.6999 4.41888C14.4674 3.93926 14.3137 3.62382 14.1727 3.38884C14.0389 3.16588 13.9443 3.06458 13.8551 2.99801C13.8009 2.95756 13.7434 2.92159 13.6834 2.89044C13.5845 2.83916 13.4522 2.79827 13.1932 2.77511C12.9982 2.75767 12.7635 2.75233 12.451 2.75071Z" fill="var(--danger-color)"/>
                                                        </svg>

                                                    </a>
                                                    <a class="texts" href="/account-addresses/{{ address.id }}/edit">
                                                        <h5 class="address-title">{{ address.name }}</h5>
                                                        <p class="address-text">{{ address.address_street }}</p>
                                                        <p class="address-text">{{ address.country.name }}, {{ address.city.name }}, {{ address.address_district }}</p>
                                                    </a>

                                                    {% if address.address_lat %}
                                                    <a style="color: inherit; text-decoration: underline" target="_blank" href="https://maps.google.com/?q={{ address.address_lat }},{{ address.address_lng }}">
                                                        <i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{ locals.location_on_map }}
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a href="/account-addresses/add" class="btn aaddress-personal-btn "> {{ locals.add_new_address }} <span class="icon-add_black"></span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer_scripts %}
    <script>
        function deleteAddress(addressId) {
            var element = $('#address-div-'+addressId);

            if(!$('.delete-address-progress',element).hasClass('d-none'))
                return;

            $('.delete-button span',element).addClass('d-none');

            $('.delete-address-progress',element).removeClass('d-none');

            zid.store.customer.deleteAddress(addressId).then(function (response) {
                if(response.status  === 'success'){
                    $('.delete-address-progress',element).addClass('d-none');
                    $( element ).remove();
                }

            })
        }
    </script>
{% endblock %}


{% block footer %} {{ include('footer.twig') }} {% endblock %}
