{% extends "layout.twig" %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block top_links %}
    <link rel="stylesheet" href="{{ asset_url ~ 'profile-style.css?v=1.03' }}">
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'account-pages.css?v=1.57' }}" />
{% endblock %}

{% block main_content %}
    <div class="container-parent account-div-container">
        

        <div class="container-sec">
            <div class="d-flex account-div-container-inner">
                {% include 'profile-section.twig' with { 'section' : 'orders' } %}
                <div class="flex-grow-1 account-content-outer">
                    {% include 'profile-title.twig' with { 'title' : locals.profile.orders } %}
                    <div class="account-content">
                        <section class="account-content-inner">
                            <div class="orders-container">
                                <div id="desktop-profile-card" class="head d-block">
                                    <div class="card">
                                        <div class="card-body card-table-header" style="background-color: #D9D9D9">
                                            <div class="row">
                                                <div class="col">{{ locals.order_id }}</div>
                                                <div class="col">{{ locals.order_status }}</div>
                                                <div class="col">{{ locals.order_date }}</div>
                                                <div class="col">{{ locals.order_total }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body d-block">
                                    {% for order in orders %}
                                    <div id="desktop-profileCard" class="order-item">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row table-orders-row">
                                                    <div class="col"><div class="title-table">{{ locals.order_id }} :</div><a class="theme-text-primary" style="text-decoration: underline" href="/orders/{{ order.code }}/invoice">#{{ order.id }}</a></div>
                                                    <div class="col"><div class="title-table">{{ locals.order_status }} :</div> {{ session.lang.code == 'ar' ? order.order_status.name : order.order_status.code }}</div>
                                                    <div class="col"><div class="title-table">{{ locals.order_date }} :</div>{{ datetimeFormat(order.created_at, 'd-m-Y g:i:s A', session.lang.code) }}</div>
                                                    <div class="col"><div class="title-table">{{ locals.order_total }} :</div><span class=" mon-price">{{ order.order_total_string }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                
                                </div>
                                

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %} {{ include('footer.twig') }} {% endblock %}
