{% extends "layout.twig" %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block top_links %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'toastr.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'ekko-lightbox.css' }}" />

    <link rel="stylesheet" type="text/css" href="{{ assetUrl('product-details.css') }}" />
<style>
    


</style>
    {% endblock %}


{% block main_content %}
    <section class="breadcrumb-section">
        <nav aria-label="breadcrumb">
        
            <ol class="breadcrumb">
            <div class="container-sec d-flex bread-gag">
                 <li class="breadcrumb-item" aria-current="page"><a href="/">{{ locals.home_title }}</a></li>

                <li class="breadcrumb-item active " aria-current="page">{{ product.name | raw }}</li>
            </div>
        
            </ol>
    
        </nav>
    </section>
    <section class="product products-details-page custom-products-details ">
        <div class="container-sec ">
            <section class="products-details ">
                <div class="products-details-inner">
                    <div class="row 
                    {% if essproduct.id == product.id %}
                    ess
                    {% endif %}
                    
                    ">

                        <div class="col-lg-6 image-container">

                            <!--GALLERY-->
                            <div id="wrap">
                                <div class="wish-share">
                                    {% if store.is_wishlist_enabled == true %}
                                    <span class="add-to-wishlist " data-wishlist-id="{{ product.id }}">
                                        <a zid-visible-customer="true" class="icon-heart-mask" onclick="addToWishlist(this, '{{ product.id }}')"></a>      
                                        <a zid-visible-guest="true" class="icon-heart-mask" href="/auth/login?redirect_to={{ requestUri() }}"></a>
                                      <img class="loader d-none" src="{{ asset_url }}spinner.gif" width="20" height="20"/>
                                    </span>
                                  {% endif %}
                                    <div class="share-container">
                                        <button class="share-btn" onclick="shareCategory()">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-share" width="20" height="22" viewBox="0 0 20 22" fill="none">
                                        <path d="M15.0137 5.5957C15.0987 5.19072 15.4964 4.93065 15.9023 5.01465C16.8391 5.21065 17.5358 5.55012 18.0947 6.08203C19.4977 7.42003 19.498 9.32788 19.498 13.1299C19.498 16.9318 19.4977 18.8388 18.0957 20.1768C16.7087 21.4996 14.7169 21.5 10.748 21.5H8.75C4.78217 21.5 2.79034 21.4996 1.40234 20.1768C0.000353405 18.8388 -5.83294e-10 16.9308 0 13.1299C0 9.32888 0.000343683 7.42101 1.40234 6.08301C1.96228 5.55111 2.65889 5.21162 3.5957 5.01562C4.00169 4.93163 4.39936 5.1907 4.48438 5.59668C4.56935 6.00156 4.30911 6.39921 3.90332 6.48438C3.24244 6.62235 2.7895 6.83503 2.43652 7.16992C1.49952 8.06392 1.49902 9.75688 1.49902 13.1299C1.49902 16.5028 1.49951 18.1968 2.4375 19.0908C3.39057 19.9996 5.18136 20 8.74902 20H10.749C14.317 20 16.1095 19.9998 17.0615 19.0908C17.9993 18.1968 17.999 16.5025 17.999 13.1299C17.999 9.75728 17.9992 8.06303 17.0615 7.16895C16.7095 6.83395 16.2567 6.6224 15.5947 6.4834C15.1899 6.39824 14.9297 6.00158 15.0137 5.5957ZM9.82129 0.000976562C10.1293 0.0159964 10.4366 0.139607 10.6855 0.350586C11.6256 1.14961 13.2591 3.11522 13.3281 3.19922C13.592 3.51815 13.5482 3.99088 13.2305 4.25488C12.9115 4.51988 12.4378 4.47623 12.1738 4.15723C12.1601 4.14115 11.3125 3.12015 10.5273 2.29004L10.501 12.751C10.5 13.165 10.164 13.499 9.75098 13.499L9.75 13.5H9.74805C9.33417 13.4989 8.99905 13.1619 9 12.748L9.02637 2.23535C8.22639 3.07634 7.33915 4.1432 7.32715 4.1582C7.06216 4.47703 6.59044 4.52071 6.27148 4.25586C5.9526 3.99195 5.90816 3.51919 6.17285 3.2002C6.24185 3.1172 7.87643 1.15154 8.81543 0.352539C8.81839 0.349641 8.8223 0.346659 8.8252 0.344727C9.11617 0.106785 9.45666 -0.0120218 9.80762 0.000976562H9.82129Z" fill="#141414"/>
                                        </svg>
                                        </button>                                    
                                    </div>
                                </div>
                                
                                <div class="row ">
                                    <div class="col-12 col-product-image-wrapper">

                                        <!-- Carousel -->
                                        <div class="box-1-1 product-images-carousel product-images-carousel-init {% if product.selected_product.media | length <= 0 %}d-none{% endif %}">
                                            <div class="content">
                                                <div id="product-images" class="product-images slide gallery">
                                                    <div id="product-images-slick">
                                                        {% for key, image in product.selected_product.media %}
                                                            <div>
                                                                <div class="box-1-1">
                                                                    <div class="content">
                                                                        <a class="image-link"
                                                                           style="display:block; width: 100%; height: 100%;">
                                                                            <img src="{{ image.image.full_size }}" class="carousel-img" alt="{{ image.alt_text }}">
                                                                            {% if image.provider and image.link %}
                                                                                <img id="main-video-icon"
                                                                                  class="play-icon"
                                                                                  src="{{ assetUrl('video-play.svg') }}"
                                                                                  alt="play"
                                                                                  width="25"
                                                                                  onClick="showIframe(this, '{{ image.link }}')"
                                                                                />
                                                                            {% endif %}
                                                                        </a>
                                                                        {% if image.provider and image.link %}
                                                                            <div class="iframe-video pt-1 d-none">
                                                                                <a
                                                                                  id="iframe-close-btn"
                                                                                  type="button"
                                                                                  class="text-white btn btn-none grow"
                                                                                  onClick="hideIframe(this)"
                                                                                >
                                                                                  X
                                                                                </a>
                                                                                <iframe
                                                                                  width="100%"
                                                                                  height="100%"
                                                                                  src=""
                                                                                  frameborder="0"
                                                                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                                                                  allowfullscreen
                                                                                  style="max-width: 100%"
                                                                                >
                                                                                </iframe>
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {# <div class="row lg-thumbs d-none d-lg-flex product-images-carousel-thumbs {% if product.selected_product.media | length <= 1 %}d-none-important{% endif %}">
                                            {% for key, image in product.selected_product.media %}
                                                <div class="col-3">
                                                    <div class="box-1-1">
                                                        <div class="content">
                                                            <a class="d-flex align-items-center justify-content-center thumb-image-a" data-index="{{ key }}"
                                                               style="width: 100%; height: 100%;" >
                                                                <img src="{{ image.image.medium }}" data-index="{{ key }}">
                                                                {% if image.provider and image.link %}
                                                                  <img id="video-play-icon" class="play-icon"
                                                                    src="{{ assetUrl('video-play.svg') }}" alt="play"
                                                                    data-index="{{ key }}"
                                                                  />
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div> #}

                                        <!-- No image -->
                                        <div class="box-1-1 product-images-empty {% if product.selected_product.media | length > 0 %}d-none{% endif %}">
                                            <div class="content">
                                                <div class="d-flex" style="width: 100%; height: 100%;">
                                                    <img src="{{ asset_url ~ 'product-img.svg' }}" width="100%" height="auto" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 details-container  col-product-info {% if product.selected_product.media | length <= 1 %}col-product-info-single-image{% endif %}">
                            <span class="add-to-wishlist " data-wishlist-id="{{ product.id }}">
                                        <a zid-visible-customer="true" class="icon-heart-mask" onclick="addToWishlist(this, '{{ product.id }}')"></a>      
                                        <a zid-visible-guest="true" class="icon-heart-mask" href="/auth/login?redirect_to={{ requestUri() }}"></a>
                                      <img class="loader d-none" src="{{ asset_url }}spinner.gif" width="20" height="20"/>
                                    </span>
                                <div class="share-container">
                                    <button class="share-btn" onclick="shareCategory()">
                                    
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-share" width="20" height="22" viewBox="0 0 20 22" fill="none">
                                        <path d="M15.0137 5.5957C15.0987 5.19072 15.4964 4.93065 15.9023 5.01465C16.8391 5.21065 17.5358 5.55012 18.0947 6.08203C19.4977 7.42003 19.498 9.32788 19.498 13.1299C19.498 16.9318 19.4977 18.8388 18.0957 20.1768C16.7087 21.4996 14.7169 21.5 10.748 21.5H8.75C4.78217 21.5 2.79034 21.4996 1.40234 20.1768C0.000353405 18.8388 -5.83294e-10 16.9308 0 13.1299C0 9.32888 0.000343683 7.42101 1.40234 6.08301C1.96228 5.55111 2.65889 5.21162 3.5957 5.01562C4.00169 4.93163 4.39936 5.1907 4.48438 5.59668C4.56935 6.00156 4.30911 6.39921 3.90332 6.48438C3.24244 6.62235 2.7895 6.83503 2.43652 7.16992C1.49952 8.06392 1.49902 9.75688 1.49902 13.1299C1.49902 16.5028 1.49951 18.1968 2.4375 19.0908C3.39057 19.9996 5.18136 20 8.74902 20H10.749C14.317 20 16.1095 19.9998 17.0615 19.0908C17.9993 18.1968 17.999 16.5025 17.999 13.1299C17.999 9.75728 17.9992 8.06303 17.0615 7.16895C16.7095 6.83395 16.2567 6.6224 15.5947 6.4834C15.1899 6.39824 14.9297 6.00158 15.0137 5.5957ZM9.82129 0.000976562C10.1293 0.0159964 10.4366 0.139607 10.6855 0.350586C11.6256 1.14961 13.2591 3.11522 13.3281 3.19922C13.592 3.51815 13.5482 3.99088 13.2305 4.25488C12.9115 4.51988 12.4378 4.47623 12.1738 4.15723C12.1601 4.14115 11.3125 3.12015 10.5273 2.29004L10.501 12.751C10.5 13.165 10.164 13.499 9.75098 13.499L9.75 13.5H9.74805C9.33417 13.4989 8.99905 13.1619 9 12.748L9.02637 2.23535C8.22639 3.07634 7.33915 4.1432 7.32715 4.1582C7.06216 4.47703 6.59044 4.52071 6.27148 4.25586C5.9526 3.99195 5.90816 3.51919 6.17285 3.2002C6.24185 3.1172 7.87643 1.15154 8.81543 0.352539C8.81839 0.349641 8.8223 0.346659 8.8252 0.344727C9.11617 0.106785 9.45666 -0.0120218 9.80762 0.000976562H9.82129Z" fill="currentColor"/>
                                        </svg>
                                    </button>
                                    
                                    
                                </div>

                            <section class="details-container-inner">
                                {% if product.badge %}
                                   {{ template_for_product_badge }}
                                {% endif %}
                                <h1 class="product-name">{{ product.name | raw }}</h1>
                                                                <div class="ess-rate">
                                                                    <div class="count">
                                                                        {% if product.rating.total_count %}( {{ product.rating.total_count }} ){% endif %}</div>{% include 'rating-stars.twig' with {'rating' : product.rating.average } %}</div>

                                <div class="price-rate">
                                    <div class="d-flex flex-row price-rate-inner">
                                        <h2 class="product-formatted-price ">{% if product.selected_product.formatted_sale_price %}{{ product.selected_product.formatted_sale_price }}{% else %}{{ product.selected_product.formatted_price }}{% endif %}</h2>
                                        <del class="product-formatted-price-old">{% if product.selected_product.formatted_sale_price %} {{ product.selected_product.formatted_price }}{% endif %}</del>
                                    {% if product_tags %}
                                {% for tag in product_tags %}
                                    {% if tag.product.id == product.id %}
                                        {% if tag.vattext %}
                                            <div class="vat-text" >{{tag.vattext}}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                                    </div>
                                    {% if product.rating %}
                                        <div class="rate-in-price"> <span class="icon-star1"></span> <p>{{ product.rating.average|round(1, 'common') }}</p></div>
                                    {% endif %}
                                </div>
                                
                            <form id="product-form">
                                <input id="product-id" type="hidden" value="{{ product.selected_product.id }}">

                                <div class="size-box">

                                    {{ template_for_product_variants_list }}

                                    <!-- new custom fields update -->
                                    {% if product.has_custom_input_fields  %}
                                        <div class="border-product" style="margin-top: 25px"></div>
                                        {{ template_for_product_custom_input_fields }}
                                    {% endif %}
                                </div>

                                {% if product.selected_product.is_infinite or product.selected_product.quantity > 0 %}
                                   
                                    <div class="select-quantity-div">
                                        <div class="form-group w-100">
                                            <div class="quantity-control">
                                            <div class="quantity-controls-wrapper">
                                                <button type="button" class="quantity-btn plus-btn" data-action="plus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                                                    </svg></button>
                                                
                                                <span id="quantity-display">1</span>
                                                <button type="button" class="quantity-btn minus-btn" data-action="minus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
                                                            </svg></button>
                                                
                                            
                                            </div>
                                                <select  id="product-quantity" name="quantity" class="select-quantity d-none">
                                                    {% if product.selected_product.is_infinite or product.selected_product.quantity > 100 %}
                                                        {% set maxQuantity = 100 %}
                                                    {% else %}
                                                        {% set maxQuantity = product.selected_product.quantity %}
                                                    {% endif %}

                                                    {% for n in rangeN(1, maxQuantity) %}
                                                        <option value="{{ n }}" {% if n == 1 %}selected{% endif %}>{{ n }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                 
                                <div class="section-out-of-stock-notify-me {% if product.selected_product.out_of_stock %}d-block{% else %}d-none{% endif %}">
                                    <div class="border-product" style="margin-top: 15px"></div>
                                    <div>
                                        <h4 class="product-title">{{ locals.lbl_error_product_out_of_stock }}</h4>
                                        <form>
                                            <input type="hidden" class="send-notify-product-id" value="{{ product.selected_product.id }}">
                                            <div class="form-group form-notify-me">
                                                <h4>{{ locals.notify_me_title }}</h4>
                                                
                                                <input class="form-control send-notify-name" value="" type="text" placeholder="{{ locals.notify_me_hint_name }}" />
                                                <input class="form-control send-notify-email" type="email" value="" placeholder="{{ locals.notify_me_hint }}" />
                                                <div class="d-flex form-notify-me-phone-row">
                                                    <input class="form-control send-notify-country-key"
                                                        type="number"
                                                        placeholder="966" maxlength="4" />
                                                    <input class="form-control send-notify-phone" type="number"  value="" placeholder="{{ locals.notify_me_hint_mobile }}" maxlength="10" />
                                                </div>
                                                <div class="form-notify-me-submit-button-row">
                                                    <button type="button" class="btn btn-primary btn-send-notify" onclick="sendProductNotifyMe()">
                                                    <img class="send-notify-progress d-none" src="{{ asset_url }}spinner.gif" width="15" height="15"/>
                                                    {{ locals.send }}
                                                    </button>
                                                </div>
                                            
                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </form>
                               
                                    {% if product.description %}
                                        <section id="product-description" class="product-description">
                                            <div class="d-flex align-items-start product-short-description">
                                                
                                                <span class="description-title">
                                                    {{ locals.description }}
                                                </span>
                                            </div>
                                            <div class="description-paragrah text-short-description text-justify description-text-clear">
                                                {{ product.description | raw }}
                                            </div>
                                        </section>
                                    {% endif %}
                                
                                    {% if product.bundle_offer and product.extra_bundle_offers %}
                                        <div class="d-flex flex-column flex-lg-row product-features">
                                            {% if product.bundle_offer %}
                                            <div class="bundle-offer-section">
                                                <span class="icon-gift" style="color: red; font-size: 14px"></span>&nbsp;
                                                <span class="bundle-offer-title">{{ product.bundle_offer.name }}</span>
                                            </div>
                                            {% endif %}
                                            
                                            {% if product.extra_bundle_offers %}
                                                {% for key, bundle_offer in product.extra_bundle_offers %}
                                                    <div class="bundle-offer-section">
                                                        <span class="icon-gift" style="color: red; font-size: 14px"></span>&nbsp;
                                                        <span class="bundle-offer-title">{{ bundle_offer.name }}</span>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                

                                <div>
                                    {{ template_for_product_loyalty_points_widget }}
                                </div>

                                
                            </section>

                           

                            {% if product_tags %}
                                {% for tag in product_tags %}
                                    {% if tag.product.id == product.id %}
                                        <div class="custom-tags">
                                            {% if tag.tag1 %}
                                            <div class="tag-item" >{{tag.tag1}}</div>
                                            {% endif %}
                                             {% if tag.tag2 %}        
                                            <div class="tag-item random-number" ><span id="random"></span> {{tag.tag2}}</div>
                                            {% endif %}
                                            {% if tag.tag3 %}
                                            <div class="tag-item" >{{tag.tag3}}</div>
                                       {% endif %}
                                       
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                                        
                            
                            <div class="product-buttons {% if product.selected_product.out_of_stock %}d-none{% else %}d-block{% endif %}">
                                <div class="d-flex align-center">
                                  <button 
                                          class="btn btn-add-to-cart" type="button" onclick="productAddToCart()">
                                      <i class="fa fa-shopping-cart me-1" aria-hidden="true"></i>
                                      <img class="add-to-cart-progress d-none" src="{{ asset_url }}spinner.gif" width="25" height="25"/>
                                      <span>{{ locals.add_to_cart }}</span>
                                  </button>
                                  
                                </div>

                                <div>
                                    {{ template_for_product_apple_pay_button }}
                                </div>

                            </div>
                                <div class="tapi-box">
                                    {{ template_for_product_payments_widget }}
                                </div>
                            <div>
                                <span id="product-view-add-to-cart"></span>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>
        </div> 

            <div class="floating-cart-container">
                <button 
                    class="btn btn-add-to-cart" 
                    type="button" 
                    onclick="productAddToCart()">
                    <i class="fa fa-shopping-cart me-1" aria-hidden="true"></i>
                    <img class="add-to-cart-progress d-none" src="{{ asset_url }}spinner.gif" width="25" height="25"/>
                    <span>{{ locals.add_to_cart }}</span>
                </button>
            </div>
            
            {% if essproduct.id == product.id %}
                {% if essfeatures %}
                <div class="container-sec">
                    <div class="features-items remove-scroll">
                        {% for key, feature in essfeatures %}
                            <div class="item">
                                <img src="{{feature.image}}" alt="{{feature.title}}" class="img">
                                <div class="text-parent">
                                    <h4>{{feature.title}}</h4>
                                    <p>{{feature.desc}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                    
                {% endif %}
               {% if tickAlllist %}
                    <div class="tickall-sec" style="background-image: url({{tickAllimg}});">
                        <h2 class="container-sec">{{texttitle_tickall}}</h2>
                        <div class="tickall-items remove-scroll container-sec">
                            {% for key, tick in tickAlllist %}
                                <div class="item">
                                    <p>{{tick.title}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% else %}


                {% include 'Features.twig' %}


            {% endif %}
            

            
               
                

        <div class="container-sec ">
           

            
                            {% set has_uses = false %}
                            {% set has_key_ingredients = false %}
                            {% set has_application = false %}

                            {% for meta in product.metafields %}
                                {% if meta.slug == 'BENEFITS-AND-USES1' and meta.value is not empty %}
                                    {% set has_uses = true %}
                                {% endif %}
                                {% if meta.slug == 'KEY-INGREDIENTS' and meta.value is not empty %}
                                    {% set has_key_ingredients = true %}
                                {% endif %}
                                {% if meta.slug == 'Application-3' and meta.value is not empty %}
                                    {% set has_application = true %}
                                {% endif %}
                            {% endfor %}

                            {% if has_uses or has_key_ingredients or has_application or product.description %}
                                <div class="accordion custom-accordion" id="accordionPanelsStayOpenExample">
                                    {% if has_uses %}
                                        {% include 'Uses.twig' %}
                                    {% endif %}
                                    {% if has_key_ingredients %}
                                        {% include 'key-ingredients.twig' %}
                                    {% endif %}
                                    {% if has_application %}
                                        {% include 'Application.twig' %}
                                    {% endif %}
                                    {# {% if product.description %}
                                        {% include 'description.twig' %}
                                    {% endif %} #}
                                </div>
                            {% endif %}

            
            
          
            {% include 'product-bundle-offers.twig' %}
            


           

            {% if store.is_product_reviews_enabled %}
                <section class="review-details">
                    {% if essproduct.id == product.id %}

                    <div class="head-sec">
                       
                        <h2 class="title-sec " >{{ locals.product_reviews }}</h2>

                    </div>
                    {% endif %}
                    
                    <div class="row review-details-inner">
                        {% if product.reviews.data %}
                        <div class="col-md-4 col-12  review-details-inner-rate" >
                            <div class="custom-head-review-details" style="width: 100%">
                                
                                    <span class="out-of">{{product.rating.average}} {{locals.out_of}} 5</span>
                                    {% include 'rating-stars.twig' with {'rating' : product.rating.average } %}
                                    <span class="product-review-text"> {{ product.rating.total_count }} {{locals.product_reviews_custom}}</span>
                                
                                
                                
                            </div>
                            <div class="reviews-break-down-div description-paragrah" style="width: 100%">
                                <div class="description-paragrah-inner d-flex align-items-center">
                                    {% if product.rating %}
                                    
                                    <div class="d-flex flex-column w-100">
                                        <div class="rating-row">
                                            <span class="rating-count">{{ product.rating['5_ratings'].count }}</span>
                                            <div class="rating-bar">
                                                
                                                <div class="rating-fill" style="width: {{ (product.rating['5_ratings'].count / product.rating.total_count) * 100 }}%;"></div>
                                            </div>
                                            <span class="rating-stars">
                                               <span class="icon-star1"></span> <span>5</span>
                                            </span>
                                        </div>
                                        <div class="rating-row">
                                                <span class="rating-count">{{ product.rating['4_ratings'].count }}</span>
                                            <div class="rating-bar">
                                                <div class="rating-fill" style="width: {{ (product.rating['4_ratings'].count / product.rating.total_count) * 100 }}%;"></div>
                                            </div>
                                            <span class="rating-stars">
                                                <span class="icon-star1"></span> <span>4</span>
                                            </span>
                                        </div>
                                        <div class="rating-row">
                                                <span class="rating-count">{{ product.rating['3_ratings'].count }}</span>
                                            <div class="rating-bar">
                                                <div class="rating-fill" style="width: {{ (product.rating['3_ratings'].count / product.rating.total_count) * 100 }}%;"></div>
                                            </div>
                                            <span class="rating-stars">
                                                <span class="icon-star1"></span> <span>3</span>
                                            </span>
                                        </div>
                                        <div class="rating-row">
                                                <span class="rating-count">{{ product.rating['2_ratings'].count }}</span>
                                            <div class="rating-bar">
                                                <div class="rating-fill" style="width: {{ (product.rating['2_ratings'].count / product.rating.total_count) * 100 }}%;"></div>
                                            </div>
                                            <span class="rating-stars">
                                                <span class="icon-star1"></span> <span>2</span>
                                            </span>
                                        </div>
                                        <div class="rating-row">
                                                <span class="rating-count">{{ product.rating['1_ratings'].count }}</span>
                                            <div class="rating-bar">
                                                <div class="rating-fill" style="width: {{ (product.rating['1_ratings'].count / product.rating.total_count) * 100 }}%;"></div>
                                            </div>
                                            <span class="rating-stars">
                                               <span class="icon-star1"></span> <span>1</span>
                                            </span>
                                        </div>

                                        {# <div class="card-rate d-flex gap-2">
                                            <span class="rating_count_5">{{ product.rating['5_ratings'].count }}</span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span> &nbsp;  &nbsp;
                                            <span>{{ locals.reviews_rating_5 }}</span>
                                        </div>
                                        <div class="card-rate d-flex gap-2">
                                            <span class="rating_count_4">{{ product.rating['4_ratings'].count }}</span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1 deactive"></span> &nbsp;  &nbsp;
                                            <span>{{ locals.reviews_rating_4 }}</span>
                                        </div>
                                        <div class="card-rate d-flex gap-2">
                                            <span class="rating_count_3">{{ product.rating['3_ratings'].count }}</span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1 deactive"></span>
                                            <span class="icon-star1 deactive"></span> &nbsp;  &nbsp;
                                            <span>{{ locals.reviews_rating_3 }}</span>
                                        </div>
                                        <div class="card-rate d-flex gap-2">
                                            <span class="rating_count_2">{{ product.rating['2_ratings'].count }}</span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1 deactive"></span>
                                            <span class="icon-star1 deactive"></span>
                                            <span class="icon-star1 deactive"></span> &nbsp;  &nbsp;
                                            <span>{{ locals.reviews_rating_2 }}</span>
                                        </div>
                                        <div class="card-rate d-flex gap-2">
                                            <span class="rating_count_1">{{ product.rating['1_ratings'].count }}</span>
                                            <span class="icon-star1"></span>
                                            <span class="icon-star1 deactive"></span>
                                            <span class="icon-star1 deactive"></span>
                                            <span class="icon-star1 deactive"></span>
                                            <span class="icon-star1 deactive"></span> &nbsp;  &nbsp;
                                            <span>{{ locals.reviews_rating_1 }}</span>
                                        </div> #}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            
                                <div class="add-review-btn-div" >
                                    <a href="/products/{{ product.slug}}/reviews/add" class="btn btn-primary add-review-btn" id="add-review-btn">{{ locals.Post_Your_Comment}} </a>
                                </div>
                           
                           
                        </div>
                        <div class="col-md-8 col-12 review-details-inner-comments">
                            <div class="comments-header">
                                <h4 class="user_comments">{{locals.user_comments}}</h4>

                                <div class="sort-container">


                                    {% if product.reviews.data %}
                                        <div class="dropdown">
                                            <a class="btn btn-transparent dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                {{ locals.products_list_sort }}: 
                                                <span id="current-sort-option">{{ locals.products_list_filter_latest }}</span>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="sortReviews(this, 'date', 'desc')">
                                                {{ locals.products_list_filter_latest }}
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="sortReviews(this, 'date', 'asc')">
                                                {{ locals.products_list_filter_old }}
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="sortReviews(this, 'rating', 'desc')">
                                                {{ locals.highest_rating }}
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="sortReviews(this, 'rating', 'asc')">
                                                {{ locals.lowest_rating }}
                                                </a>
                                            </div>
                                        </div>
                                        

                                    {% endif %}
                                    
                                </div>
                                
                            
                             </div>

                            {% if product.reviews.data %}
                                <div class="comment-section description-paragrah bg-transparent">
                                    {% include 'customer-reviews.twig' with {'reviews' : product.reviews.data } %}

                                    
                                </div>
                                {# {% if product.reviews.next_page > 1 %} #}
                                    <div class="next-reviews">
                                        <div class="text-right">
                                            <a href="/products/{{ product.id }}/reviews" type="button" class="btn all-reviews-btn">
                                                {{ locals.go_all_reviews }}
                                            </a>
                                        </div>
                                    </div>
                                {# {% endif %} #}
                            {% else %}

                                <div class="reviews-break-down-empty  ">
                                    <div style="margin: 10px 0px; " class="reviews-break-down-empty-inner">
                                        <span>{{ locals.product_no_reviews }}</span>
                                    </div>
                                </div>


                            {% endif %}
                            
                        </div>
                        {% else %}
                        
                        <div class=" col-12 no-reviews review-details-inner-comments">
                            <div class="comments-header">
                                <h4 class="user_comments">{{locals.user_comments}}</h4>

                                <div class="sort-container">


                                    {% if product.reviews.data %}
                                        <div class="dropdown">
                                            <a class="btn btn-transparent dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                {{ locals.products_list_sort }}: 
                                                <span id="current-sort-option">{{ locals.products_list_filter_latest }}</span>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="sortReviews(this, 'date', 'desc')">
                                                {{ locals.products_list_filter_latest }}
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="sortReviews(this, 'date', 'asc')">
                                                {{ locals.products_list_filter_old }}
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="sortReviews(this, 'rating', 'desc')">
                                                {{ locals.highest_rating }}
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="sortReviews(this, 'rating', 'asc')">
                                                {{ locals.lowest_rating }}
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    
                                </div>
                                
                            
                             </div>

                            {% if product.reviews.data %}
                                <div class="comment-section description-paragrah bg-transparent">
                                    {% include 'customer-reviews.twig' with {'reviews' : product.reviews.data } %}

                                    
                                </div>
                                {# {% if product.reviews.next_page > 1 %} #}
                                    <div class="next-reviews">
                                        <div class="text-right">
                                            <a href="/products/{{ product.id }}/reviews" type="button" class="btn all-reviews-btn">
                                                {{ locals.go_all_reviews }}
                                            </a>
                                        </div>
                                    </div>
                                {# {% endif %} #}
                            {% else %}

                                <div class="reviews-break-down-empty  ">
                                    <div style="margin: 10px 0px;" class="reviews-break-down-empty-inner">
                                        <span>{{ locals.product_no_reviews }}</span>
                                    </div>
                                </div>
                                 <div class="add-review-btn-div" >
                                    <a href="/products/{{ product.slug}}/reviews/add" class="btn btn-primary add-review-btn" id="add-review-btn">{{ locals.Post_Your_Comment}} </a>
                                </div>
                           


                            {% endif %}
                            
                        </div>
                        {% endif %}
                        
                    </div>
                </section>
            {% endif %}
            {# {% if store.is_product_question_and_answer_enabled %}
                <section class="mt-5 review-details">
                    <div>
                        <div class="d-flex flex-wrap align-items-center" style="width: 100%">
                            <div class="description-icon">
                                <span class="icon-reviews_black"></span>
                            </div>
                            <div class="description-title">
                                {{ locals.product_questions }}
                            </div>
                             {% if product.questions is not empty %}
                            <div class="add-review-btn-div" >
                            <button type="button" class="btn btn-primary add-review-btn" id="addQuestionButton"><span class="icon-add_circle"></span>{{ locals.add_product_question}} </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% include 'product-questions.twig' with {'questions' : product.questions} %}
                    {% include 'product-question-add.twig' with {'product' : product} %}
                </section>
             {% endif %} #}

        

        </div>

        {% if product.bundle_offer.products.results | length > 5 %}
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable bundle-offer-products-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="bundle-offer-title"></div>
                        <div class="bundle-offer-title-description"></div>
                        <div class="bundle-offer-products">
                            <div class="row bundle-offer-details-products-all">
                                {% for key, product in product.bundle_offer.products.results %}
                                    <div class="prod-col prod-col-tb">
                                        {% include 'product-card.twig' with {'product' : product, 'index': key} %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
{% endblock %}

{% block footer %}
    {{ include('footer.twig') }}
{% endblock %}



{% block footer_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <script type="text/javascript" src="{{ asset_url ~ 'ekko-lightbox.min.js' }}"></script>
    <script type="text/javascript" src="{{ assetUrl('product-details.js?v=1.101010') }}"></script>
    <script type="text/javascript" src="{{ asset_url ~ 'toastr.min.js' }}"></script>
    <script type="text/javascript" src="{{ assetUrl('product-d2.js?v=1.101010') }}"></script>

    {{ product_view_scripts|raw }}
<script>
document.addEventListener("DOMContentLoaded", function() {
    //    
    if (window.innerWidth <= 768) {
        const floatingCart = document.querySelector(".floating-cart-container");
        const mainCartButton = document.querySelector(".product-buttons .btn-add-to-cart");

        if (floatingCart && mainCartButton) {
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        //      
                        floatingCart.style.display = "none";
                    } else {
                        //      
                        floatingCart.style.display = "block";
                    }
                });
            });

            observer.observe(mainCartButton);
        }
    }
});
    
  function shareCategory() {
    const shareData = {
      title: document.title,
      text: '    ',
      url: window.location.href
    };

    if (navigator.share) {
      navigator.share(shareData).catch(err => {
        console.error('    :', err);
      });
    } else {
      navigator.clipboard.writeText(shareData.url).then(() => {
        alert('   !');
      }).catch(err => {
        console.error('  :', err);
        alert('  ');
      });
    }
  }
</script>
    <script>
document.addEventListener("DOMContentLoaded", () => {
  const allFeatureDivs = document.querySelectorAll(".feature-div");

  allFeatureDivs.forEach(div => {
    const items = div.querySelectorAll("p");
    if (items.length > 4) {
      div.classList.add("two-columns");
    }
  });
});


function setRandomId() {
  const randomId = Math.floor(Math.random() * (100 - 20 + 1)) + 20;

  const element = document.getElementById('random');

  if (element) {
    element.textContent = randomId;
  }
}

setRandomId();


        var productImages = {{  product.selected_product.media | json_encode() | raw }};
        var customerWishlistIds = {{  customer.wishlist | json_encode() | raw }};
document.addEventListener('DOMContentLoaded', function() {
    const selectElement = document.getElementById('product-quantity');
    const displayElement = document.getElementById('quantity-display');
    const minusButton = document.querySelector('.minus-btn');
    const plusButton = document.querySelector('.plus-btn');

    const options = selectElement.querySelectorAll('option');
    const minQuantity = 1; 
    const maxQuantity = options.length > 0 ? parseInt(options[options.length - 1].value) : 1;

    displayElement.textContent = selectElement.value;
    updateButtonStates(parseInt(selectElement.value));


    function updateButtonStates(currentValue) {
        minusButton.disabled = (currentValue <= minQuantity);
        plusButton.disabled = (currentValue >= maxQuantity);
    }

    function changeQuantity(change) {
        let currentValue = parseInt(selectElement.value);
        let newValue = currentValue + change;

        if (newValue >= minQuantity && newValue <= maxQuantity) {
            selectElement.value = newValue;

            displayElement.textContent = newValue;

            updateButtonStates(newValue);

            selectElement.dispatchEvent(new Event('change'));
        }
    }

    minusButton.addEventListener('click', function() {
        changeQuantity(-1);
    });

    plusButton.addEventListener('click', function() {
        changeQuantity(1);
    });

});
        function productAddToCart() {
            if(!$('.add-to-cart-progress').hasClass('d-none'))
                return;

            $('.add-to-cart-progress').removeClass('d-none');

            zid.store.cart.addProduct({ formId:'product-form' }).then(function (response) {
                if(response.status  === 'success'){

                    if(response.data)
                        setCartTotalAndBadge(response.data.cart);

                    $('.added-notification').addClass("show");
                    setTimeout(function () {
                        $('.added-notification').removeClass("show");
                    }, 5000);

                    var image = $('#product-images-slick .slick-slide.slick-active img');
                    var cart = $('.a-shopping-cart');

                    if(image.length && cart.length){
                        addToCartAnimation(cart, image);
                    }

                }else{
                    toastr.error(response.data.message, '{{ locals.sorry }}')
                }
                $('.add-to-cart-progress').addClass('d-none');
            })
        }

        function productOptionsChanged(selected_product) {
            if (selected_product) {
                $('#product-id').val(selected_product.id)
                $('.send-notify-product-id').val(selected_product.id)

                if (!selected_product.unavailable) {
                    // Selected a valid variant that is available.
                    if(selected_product.formatted_sale_price){
                        $('.product-formatted-price').html(selected_product.formatted_sale_price)
                        $('.product-formatted-price-old').html(selected_product.formatted_price)
                        $('.product-formatted-price-discount').html('{{ locals.product_discount }}'+' '+selected_product.discount_percentage+'%')

                    }else{
                        $('.product-formatted-price').html(selected_product.formatted_price)
                        $('.product-formatted-price-old').html('')
                        $('.product-formatted-price-discount').html('')
                    }

                    if(selected_product.weight.value){
                        $('.div-product-weight').removeClass('d-none');
                        $('.div-product-weight .product-weight').html(selected_product.weight.value+' '+selected_product.weight.unit)
                    }else{
                        $('.div-product-weight').addClass('d-none')
                    }

                    if(selected_product.sku){
                        $('.div-product-sku').removeClass('d-none');
                        $('.div-product-sku .product-sku').html(selected_product.sku)
                    }else{
                        $('.div-product-sku').addClass('d-none');
                    }


                    {% if store.is_low_stock_label_enabled %}
                    var store_low_stock_limit = {{ store.low_stock_quantity_limit }};
                    var low_stock_message = '{{ locals.product_cart_quantity_low_stock }}';

                    if(!selected_product.is_infinite &&  selected_product.quantity < store_low_stock_limit){
                        $('.low-quantity-section').addClass('d-inline-block');
                        $('.low-quantity-section .low-quantity').html(low_stock_message.replace('%s', selected_product.quantity))
                    }else{
                        $('.low-quantity-section').addClass('none');
                    }
                    {% endif %}

                    var sold_product_count_message = '{{ locals.product_sold_more_than_x_times }}';
                    if (selected_product.sold_products_count) {
                        $('.product-count').removeClass('d-none');
                        $('.product-count .lang').html(sold_product_count_message.replace('%s', selected_product.sold_products_count))
                    } else {
                        $('.product-count').removeClass('d-flex');
                        $('.product-count').addClass('d-none');
                    }
                    var selectQuantity = ''

                    if(selected_product.is_infinite)
                        selected_product.quantity = 100;

                    if(selected_product.quantity > 0) {
                        $('.select-quantity-div').removeClass('d-none')
                        var quantityMax = (selected_product.quantity > 100) ? 100 : selected_product.quantity;
                        selectQuantity = '<option value="1"selected>1</option>'
                        for(var i=2; i <= quantityMax; i++){
                            selectQuantity += '<option value="'+i+'">'+i+'</option>';
                        }
                    }else{
                        $('.select-quantity-div').addClass('d-none')
                    }

                    $('.select-quantity').html(selectQuantity);

                    $('.product-buttons').removeClass('d-none');
                    $('.section-out-of-stock-notify-me').addClass('d-none');

                    $('.btn-add-to-cart span').html('{{ locals.add_to_cart }}');

                    updateProductImages(selected_product);
                } else {
                    // Variant is sold out.
                    if(selected_product.formatted_sale_price){
                        $('.product-formatted-price').html(selected_product.formatted_sale_price)
                        $('.product-formatted-price-old').html(selected_product.formatted_price)
                        $('.product-formatted-price-discount').html('{{ locals.product_discount }}'+' '+selected_product.discount_percentage+'%')

                    } else{
                        $('.product-formatted-price').html(selected_product.formatted_price)
                        $('.product-formatted-price-old').html('')
                        $('.product-formatted-price-discount').html('')
                    }
                    $('.select-quantity-div').addClass('d-none')
                    $('.product-buttons').addClass('d-none');
                    $('.section-out-of-stock-notify-me').removeClass('d-none');

                    $('.btn-add-to-cart span').html('{{ locals.error_item_unavailable }}');

                    if(selected_product.sku){
                        $('.div-product-sku').removeClass('d-none');
                        $('.div-product-sku .product-sku').html(selected_product.sku)
                    } else {
                        $('.div-product-sku').addClass('d-none');
                    }
                    updateProductImages(selected_product);
                }

            } else {
                // variant doesn't exist.
                $('.select-quantity-div').addClass('d-none')
                $('.product-buttons').addClass('d-none');
                $('.section-out-of-stock-notify-me').removeClass('d-none');

                $('.btn-add-to-cart span').html('{{ locals.error_item_unavailable }}');

                updateProductImages(selected_product);
            }
        }

        function updateProductImages(selected_product) {
            if(selected_product && selected_product.media && selected_product.media.length > 0){
                $('.product-images-carousel').removeClass('d-none');
                $('.product-images-carousel-thumbs').removeClass('d-none-important');
                $('.product-images-empty').addClass('d-none');
                $('#product-images-slick').slick('unslick');
                $('.product-images-carousel').addClass('product-images-carousel-init');

                productImages = selected_product.media;

                $('#product-images-slick').html('');
                $('.product-images-carousel-thumbs').html('');

                for(var z = 0; z < productImages.length; z++){
                    var prImage = productImages[z];
                    $('#product-images-slick').append('' +
                        '<div>\n' +
                        '                                                                    <div class="box-1-1">\n' +
                        '                                                                        <div class="content">\n' +
                        '                                                                            <a class="image-link"\n' +
                        '                                                                               style="display:block; width: 100%; height: 100%;">\n' +
                        '                                                                                <img src="'+ prImage.image.full_size +'" class="carousel-img" alt="'+ selected_product.name +'">\n' +
                        (prImage.provider && prImage.link ? '<img id="main-video-icon" class="play-icon" src="{{ assetUrl('video-play.svg') }}" alt="play"'+
                        '                                   onclick="showIframe(this, \''+ prImage.link +'\')"/>' : '' ) +
                        '                                                                            </a>\n' +
                        '                                                                          <div class="iframe-video pt-1 d-none">\n' +
                        '                                                                             <a id="iframe-close-btn" type="button" class="text-white btn btn-none grow"'+
                        '                                                                                onClick="hideIframe(this)">X</a>\n' +
                        '                                                                            <iframe width="100%" height="100%" src="" frameborder="0"' +
                        '                                                                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"' +
                        '                                                                              allowfullscreen style="max-width: 100%">' +
                        '                                                                            </iframe>\n' +
                        '                                                                          </div>\n' +
                        '                                                                        </div>\n' +
                        '                                                                    </div>\n' +
                        '                                                                </div>');


                    $('.product-images-carousel-thumbs').append('<div class="col-3">\n' +
                        '                                                         <div class="box-1-1">\n' +
                        '                                                                <div class="content">\n' +
                        '                                                                    <a class="d-flex align-items-center justify-content-center thumb-image-a" data-index="{{ key }}"\n' +
                        '                                                                       style="width: 100%; height: 100%;" >\n' +
                        '                                                                        <img src="'+ prImage.image.medium +'" data-index="'+ z +'">\n' +
                        (prImage.provider && prImage.link ?                 '<img id="video-play-icon" class="play-icon"'+
                        '                                                     src="{{ assetUrl('video-play.svg') }}" alt="play"'+
                        '                                                     data-index="'+ z +'">\n' : '') +
                        '                                                                    </a>\n' +
                        '                                                                </div>\n' +
                        '                                                            </div>\n' +
                        '                                                        </div>');

                }

                initSlick(productImages);

            }else{
                $('.product-images-carousel').addClass('d-none');
                $('.product-images-carousel-thumbs').addClass('d-none-important');
                $('.product-images-empty').removeClass('d-none');
            }
        }

        function sendProductNotifyMe() {
            if(!$('.send-notify-progress').hasClass('d-none'))
                return;

            $('.send-notify-progress').removeClass('d-none');
            let inputVal = $('.send-notify-country-key').val() || '966';

            if (inputVal.startsWith('00')) {
                inputVal = inputVal.replace(/^00+/, ''); // or inputVal = '966' to reset
            }

            const countryCode = '+' + inputVal;

            zid.store.product.setAvailabilityNotificationEmail(
                $('.send-notify-product-id').val(),
                $('.send-notify-email').val(),
                $('.send-notify-name').val(),
                 countryCode + $('.send-notify-phone').val(),
                ).then(function (response) {
                if(response.status  === 'success'){
                    toastr.success('{{ locals.sent_successfully }}', null)
                }else{
                    if(response && response.data && response.data.message) {
                        toastr.error(JSON.stringify(response.data.message), '{{ locals.sorry }}')
                    }else {
                        toastr.error('{{ locals.notify_me_failed }}', '{{ locals.sorry }}')
                    }
                }
                $('.send-notify-progress').addClass('d-none');
            })
        }


        $('#product-description-a ').click(function(){
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top - ((window.matchMedia('(max-width: 768px)').matches) ? 15 :  150)
            }, 500);

        });

        function addReviewButtonChecks() {
            if (!customer){
                $('#add-review-btn').css('display','none');
                $('#add-review-link').removeClass('d-none');
                $('#add-review-link').attr('href', `/auth/login?redirect_to=${window.location.pathname.replace('/','')}`);
            }
        }

        $(document).ready(function() {
            initSlick(productImages);
            if (customerWishlistIds) {
              fillWishlistItems(customerWishlistIds.map(id => ({ id })));
            }
        });

        $(document).on('click','.thumb-image-a, #video-play-icon',function(event){
            var tarr = event.target;

            if ($('#product-images-slick')) {
                $('#product-images-slick').slick('slickGoTo',$(tarr).attr('data-index'),true);
            }
        });


        $(document).on('click','#product-images-slick .image-link :not(#main-video-icon)',function(event){
            $('.pswp').removeClass('d-hide');
            $('.app').addClass('d-hide');

            openPhotoSwiper(productImages.map(function (image) {
                return image.image.full_size
            }), $('#product-images-slick .slick-active').attr('data-slick-index'));

        });

        $(document).on('click','.variant-image-wrapper a',function(event){
            $('.pswp').removeClass('d-hide');
            $('.app').addClass('d-hide');
            var elm = event.currentTarget;
            var varId = $(elm).attr('data-link-var-id');

            var images = [];

            $("div[data-var-id='"+varId+"']  img").each(function(iElm){
                images.push($( this ).attr('data-image-url'))
            });

            openPhotoSwiper(images, $(elm).attr('data-index'));
        });


        var initSlick = function(productImages) {
            var arrowNextClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_right': 'icon-keyboard_arrow_left';
            var arrowPrevClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_left' : 'icon-keyboard_arrow_right';

            $('#product-images-slick').slick({
                infinite: true,
                autoplay: true,
                arrows: (productImages.length > 1),
                dots: true,
                rtl: !(window.appDirection === 'ltr'),
                nextArrow:'<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><span class="'+arrowNextClass+'"></span></button>',
                prevArrow:'<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><span class="'+arrowPrevClass+'"></span></button>'
            });
        }

        $('#product-images-slick').on('init', function(event, slick){
            $('.product-images-carousel').removeClass('product-images-carousel-init');
        });

        var openPhotoSwipe = function(productImages, index) {
            var pswpElement = document.querySelectorAll('.pswp')[0];

            // build items array
            var items = productImages.map(function (image) {
                return {
                    src: image,
                    w: 1200,
                    h: 900
                }
            })

            var options = {
                history: false,
                focus: false,

                showAnimationDuration: 0,
                hideAnimationDuration: 0,
                index: parseInt(''+index)

            };

            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);

            gallery.listen('close', function() {
                $('.pswp').addClass('d-hide');
                $('.app').removeClass('d-hide');
            });

            gallery.init();
        };

        var showRelatedProducts = function () {
            var arrowNextClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_right': 'icon-keyboard_arrow_left';
            var arrowPrevClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_left' : 'icon-keyboard_arrow_right';

            var screenWidth = window.screen.width;

            var editingMode = {% if store.editing_mode %}true{% else %}false{% endif %};

            if(screenWidth >= 768 || editingMode){
                $('#related-products.products-slider').slick({
                    slidesToShow: 5,
                    slidesToScroll: 5,
                    infinite: false,
                    autoplay: false,
                    arrows: true,
                    dots: false,
                    rtl: !(window.appDirection === 'ltr'),
                    nextArrow:'<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><span class="'+arrowNextClass+'"></span></button>',
                    prevArrow:'<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><span class="'+arrowPrevClass+'"></span></button>',
                    responsive: [
                        {
                            breakpoint: 992,
                            settings: {
                                slidesToShow: 5,
                                slidesToScroll: 5
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: "unslick"
                        }
                    ]
                });
            }
        }


        document.addEventListener('zid-customer-fetched', function(event) {
            var customer = event.detail.customer;
            if(customer) {
                $('.send-notify-name').val(customer.name)
                $('.send-notify-email').val(customer.email)
                $('.send-notify-country-key').val(customer.mobile.substring(0, 3));
                $('.send-notify-phone').val(customer.mobile.substring(3));
            }
        });

        // Product Image Video  
        const getIframeLink = (videoLink) => {
          const videoIdMatch = videoLink.match(
            /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?|.*[?&]v=)|shorts\/)|youtu\.be\/)([a-zA-Z0-9_-]{11})/
          );

          if (videoIdMatch && videoIdMatch[1]) {
            const videoLinkId = videoIdMatch[1];
            return `https://www.youtube.com/embed/${videoLinkId}?autoplay=1&enablejsapi=1&mute=1&rel=0`;
          }

          return null;
        };

        const showIframe = (elm, imageVideoSrc) => {
          const iframeLink = getIframeLink(imageVideoSrc);
          const iframeElem = $(elm).parent(".image-link").siblings(".iframe-video").children("iframe");
          $(elm).parent(".image-link").siblings(".iframe-video").removeClass("d-none");
          if ($(iframeElem).attr("src") !== iframeLink) {
            $(iframeElem).attr("src", iframeLink);
          }
        };

        const hideIframe = (elm) => {
          $(elm).parent(".iframe-video").addClass("d-none");
          $(elm).siblings("iframe").attr("src", "");
        };

        $('#product-images-slick').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
          const iframeContainers = slick.$slides[currentSlide].querySelector(".iframe-video");
          $(iframeContainers).addClass("d-none");
          $(iframeContainers).children("iframe").attr("src", "");
        });

        $('#product-images-slick').on('afterChange', function(event, slick, currentSlide, nextSlide) {
          const iframeContainers = slick.$slides[currentSlide].querySelector(".iframe-video");
          const playIcon = $(iframeContainers).siblings(".image-link").children("#main-video-icon");
          if (playIcon) {
            $(playIcon).click();
          }
        });

        document.addEventListener("DOMContentLoaded", () => {
          setTimeout(() => {
            const activeSlide = $("#product-images-slick .slick-slide.slick-active .image-link");
            const playIcon = $(activeSlide).children("#main-video-icon");
            if (playIcon) {
              $(playIcon).click();
            }
          }, 250);
        });
    </script>

{% endblock %}
